In [1]:
import pandas as pd
import numpy as np
import math
from scipy import signal

In [2]:
xls1 = pd.ExcelFile("../sub1int1.xlsx")
in_df1 = pd.read_excel(xls1, 'Sheet2')

xls2 = pd.ExcelFile("../sub2int1.xlsx")
in_df2 = pd.read_excel(xls2, 'Sheet1')

xls3 = pd.ExcelFile("../sub3int1.xlsx")
in_df3 = pd.read_excel(xls3, 'Sheet1')

xls4 = pd.ExcelFile("../sub4int1.xlsx")
in_df4 = pd.read_excel(xls4, 'Sheet1')

out_df1 = pd.read_csv("../data/modified_outputs1.csv")
out_df2 = pd.read_csv("../data/modified_outputs2.csv")
out_df3 = pd.read_csv("../data/modified_outputs3.csv")
out_df4 = pd.read_csv("../data/modified_outputs4.csv")

In [3]:
in_df = in_df4
out_df = out_df4

In [4]:
in_df.to_csv("intermediate.csv", index = False)
in_df = pd.read_csv("intermediate.csv")

In [5]:
in_df

,C,x-mm,y-mm,z-mm,vx,vy,vz,sesno,img1,img2,...,img28,img29,img30,img31,img32,img33,img34,img35,img36,img37
0,34.0,46,18,66,23,9,33,ses1,6.081467,8.853849,...,11.229273,7.994739,8.891150,7.892396,7.583052,11.331930,7.948770,8.425824,6.491228,7.228966
1,NaN,102,62,46,51,31,23,NaN,16.610891,12.185616,...,21.496401,24.417400,24.012934,17.057951,21.242817,19.575087,24.481674,22.414888,23.080372,24.868599
2,NaN,50,12,62,25,6,31,NaN,3.952931,5.268596,...,5.830733,4.205112,6.116723,4.504898,5.164454,5.174181,3.034716,3.246057,3.203902,3.446852
3,NaN,40,56,46,20,28,23,NaN,14.523890,22.689468,...,20.756020,16.112068,25.341473,12.902251,26.214119,18.599001,18.485971,17.540710,19.565052,12.754345
4,NaN,60,20,50,30,10,25,NaN,5.321487,7.304843,...,6.473924,4.850379,7.060949,6.028605,5.067628,5.088174,4.733837,5.295754,2.696215,4.582192
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3604,NaN,46,16,66,23,8,33,NaN,6.257287,7.567688,...,2.262680,6.649792,8.483969,7.583700,5.432410,4.880533,8.306602,3.687881,5.573971,4.854362
3605,NaN,94,62,48,47,31,24,NaN,8.060211,10.215308,...,3.041367,5.804007,11.560439,10.979113,6.780633,7.086624,7.057034,1.510613,12.391757,7.078077
3606,NaN,84,26,40,42,13,20,NaN,10.409855,13.369532,...,3.079352,13.493482,8.450074,10.054090,3.681234,8.652498,9.823444,5.281919,8.985109,13.855386
3607,NaN,102,14,58,51,7,29,NaN,7.803307,15.727143,...,2.596920,14.724689,13.228936,13.131496,9.166053,10.984136,13.817241,4.601292,13.005678,6.713248
3608,NaN,92,42,104,46,21,52,NaN,5.338150,12.580564,...,3.624807,4.691604,10.906337,6.872295,7.680970,6.901748,2.516186,1.942287,10.220840,2.710359

In [6]:
lst1 = in_df['vx']
lst2 = in_df['vy']
lst3 = in_df['vz']
len(lst3)

3609

In [7]:
combined_lst = []
for i in range(len(lst1)):
    c = str(lst1[i]) + " " + str(lst2[i]) + " " + str(lst3[i])
    combined_lst.append(c)
    
length = len(combined_lst)
length

3609

In [8]:
# combined_lst = list(set(combined_lst))
# len(combined_lst)

In [9]:
cols = []
for i in range(0,37):
    col = 'img' + str(i+1)
    cols.append(col)

In [10]:
comp_df = pd.DataFrame(columns=cols)
comp_df

Empty DataFrame
Columns: [img1, img2, img3, img4, img5, img6, img7, img8, img9, img10, img11, img12, img13, img14, img15, img16, img17, img18, img19, img20, img21, img22, img23, img24, img25, img26, img27, img28, img29, img30, img31, img32, img33, img34, img35, img36, img37]
Index: []

[0 rows x 37 columns]

In [11]:
comp_df

Empty DataFrame
Columns: [img1, img2, img3, img4, img5, img6, img7, img8, img9, img10, img11, img12, img13, img14, img15, img16, img17, img18, img19, img20, img21, img22, img23, img24, img25, img26, img27, img28, img29, img30, img31, img32, img33, img34, img35, img36, img37]
Index: []

[0 rows x 37 columns]

In [12]:
in_df['C']

0       34.0
1        NaN
2        NaN
3        NaN
4        NaN
        ...
3604     NaN
3605     NaN
3606     NaN
3607     NaN
3608     NaN
Name: C, Length: 3609, dtype: float64

In [13]:
clust_lst = in_df['C']
clust_arr = np.array(clust_lst, dtype=np.float64)

In [14]:
np.isnan(clust_lst[2])

True

In [15]:
index_lst = []
for i in range(len(clust_lst)):
    if np.isnan(clust_lst[i]) == False:
        index_lst.append(i)

print(len(index_lst))
print(len(index_lst[1:]))
index_lst = index_lst[1:]
print(len(index_lst))

82
81
81

In [16]:
Final_outputs = []

In [17]:
out_num = out_df.to_numpy()

In [18]:
len(out_num)

3034

In [19]:
len(comp_df.columns)

37

In [20]:
Final_outputs = []
out_ind = 0
ind = 0
j = 0
lst_start = 0
while ind < length:
    if j < len(index_lst) and ind == index_lst[j]:
        lst_start += 37
        j += 1
    
    row = in_df.iloc[ind]
    
    imagenet = []
    coco = []
    sun = []
    
    detrend_in = []
    for pos in range(0,37):
        name = "img" + str(pos+1)
        detrend_in.append(float(row[name]))
        
    detrend_out = signal.detrend(np.array(detrend_in))
    
    coco_pres = False
    imagenet_pres = False
    sun_pres = False
    
    
    for pos in range(0,37):
        out_ind = lst_start + pos
        if out_num[out_ind] == 0:
            coco.append(detrend_out[pos])
            coco_pres = True
        
        elif out_num[out_ind] == 1:
            imagenet.append(detrend_out[pos])
            imagenet_pres = True
            
        elif out_num[out_ind] == 2:
            sun.append(detrend_out[pos])
            sun_pres = True
    
    if coco_pres == True:
        Final_outputs.append(0)
        len_c = 37 - len(coco)
        for i in range(len_c):
            coco.append(0)
        
        data_to_append = {}
        for i in range(len(comp_df.columns)):
            data_to_append[comp_df.columns[i]] = coco[i]

        comp_df = comp_df.append(data_to_append, ignore_index = True)
        
    if imagenet_pres == True:
        Final_outputs.append(1)
        len_i = 37 - len(imagenet)
        for i in range(len_i):
            imagenet.append(0)
            
        data_to_append = {}
        for i in range(len(comp_df.columns)):
            data_to_append[comp_df.columns[i]] = imagenet[i]

        comp_df = comp_df.append(data_to_append, ignore_index = True)
        
    if sun_pres == True:
        Final_outputs.append(2)
        len_s = 37 - len(sun)
        for i in range(len_s):
            sun.append(0)
            
        data_to_append = {}
        for i in range(len(comp_df.columns)):
            data_to_append[comp_df.columns[i]] = sun[i]

        comp_df = comp_df.append(data_to_append, ignore_index = True)
            
    
    ind += 1
    
comp_df

,img1,img2,img3,img4,img5,img6,img7,img8,img9,img10,...,img28,img29,img30,img31,img32,img33,img34,img35,img36,img37
0,-1.239142,1.498891,0.189638,-2.929628,-0.790091,-2.478041,0.988637,2.322696,-1.337394,-0.523618,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,-0.473891,-1.775369,2.018271,0.087563,-0.136596,0.963593,0.074364,0.475535,-1.887757,-1.601759,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,2.732457,0.878624,-3.116104,0.704959,2.981228,-0.287656,-0.802391,0.000000,0.000000,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,2.574738,-2.062863,3.955059,-3.664877,-6.586027,1.369082,3.764334,3.962135,-1.449717,-8.435167,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,5.398529,-6.506147,-0.266727,1.759737,-5.126099,2.003309,1.808564,-4.672224,-8.855239,0.902672,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10822,-1.856298,3.044136,-1.374764,0.523651,1.256430,3.026562,-6.559871,-1.638449,0.638746,-7.805001,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
10823,6.040045,-1.295440,10.394622,3.305884,1.982401,4.278109,2.383811,0.000000,0.000000,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
10824,-4.434929,-1.159476,-3.856269,-0.269374,1.879222,-2.862106,4.419580,-1.912875,5.539759,-2.705979,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
10825,-0.956519,1.020237,-2.005922,-2.228816,2.067930,-0.088604,-3.029148,-1.539736,3.780307,-2.550555,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
10826,6.290313,-4.161134,8.062234,3.688203,-1.105911,1.242866,4.080828,0.000000,0.000000,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [21]:
comp_df

,img1,img2,img3,img4,img5,img6,img7,img8,img9,img10,...,img28,img29,img30,img31,img32,img33,img34,img35,img36,img37
0,-1.239142,1.498891,0.189638,-2.929628,-0.790091,-2.478041,0.988637,2.322696,-1.337394,-0.523618,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,-0.473891,-1.775369,2.018271,0.087563,-0.136596,0.963593,0.074364,0.475535,-1.887757,-1.601759,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,2.732457,0.878624,-3.116104,0.704959,2.981228,-0.287656,-0.802391,0.000000,0.000000,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,2.574738,-2.062863,3.955059,-3.664877,-6.586027,1.369082,3.764334,3.962135,-1.449717,-8.435167,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,5.398529,-6.506147,-0.266727,1.759737,-5.126099,2.003309,1.808564,-4.672224,-8.855239,0.902672,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10822,-1.856298,3.044136,-1.374764,0.523651,1.256430,3.026562,-6.559871,-1.638449,0.638746,-7.805001,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
10823,6.040045,-1.295440,10.394622,3.305884,1.982401,4.278109,2.383811,0.000000,0.000000,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
10824,-4.434929,-1.159476,-3.856269,-0.269374,1.879222,-2.862106,4.419580,-1.912875,5.539759,-2.705979,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
10825,-0.956519,1.020237,-2.005922,-2.228816,2.067930,-0.088604,-3.029148,-1.539736,3.780307,-2.550555,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
10826,6.290313,-4.161134,8.062234,3.688203,-1.105911,1.242866,4.080828,0.000000,0.000000,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [22]:
len(Final_outputs)

10827

In [23]:
output_numpy = np.array(Final_outputs)
output_numpy

array([0, 1, 2, ..., 0, 1, 2])

In [24]:
output_df = pd.DataFrame(output_numpy,columns = ['label'])
output_df

       label
0          0
1          1
2          2
3          0
4          1
...      ...
10822      1
10823      2
10824      0
10825      1
10826      2

[10827 rows x 1 columns]

In [25]:
comp_df.to_csv("../Final_data/Final_inputs_4.csv", index = False)
output_df.to_csv("../Final_data/Final_outputs_4.csv", index = False)