In [1]:
import pandas as pd
import numpy as np
import math
from scipy import signal

In [2]:
xls1 = pd.ExcelFile("../Data/sub1int1.xlsx")
in_df1 = pd.read_excel(xls1, 'Sheet2')

xls2 = pd.ExcelFile("../Data/sub2int1.xlsx")
in_df2 = pd.read_excel(xls2, 'Sheet1')

xls3 = pd.ExcelFile("../Data/sub3int1.xlsx")
in_df3 = pd.read_excel(xls3, 'Sheet1')

xls4 = pd.ExcelFile("../Data/sub4int1.xlsx")
in_df4 = pd.read_excel(xls4, 'Sheet1')

out_df1 = pd.read_csv("../data/Outputs/modified_labels1.csv")
out_df2 = pd.read_csv("../data/Outputs/modified_labels2.csv")
out_df3 = pd.read_csv("../data/Outputs/modified_labels3.csv")
out_df4 = pd.read_csv("../data/Outputs/modified_labels4.csv")

In [3]:
in_df = in_df4
out_df = out_df4

In [4]:
in_df.to_csv("intermediate.csv", index = False)
in_df = pd.read_csv("intermediate.csv")

In [5]:
in_df

,C,x-mm,y-mm,z-mm,vx,vy,vz,sesno,img1,img2,...,img28,img29,img30,img31,img32,img33,img34,img35,img36,img37
0,34.0,46,18,66,23,9,33,ses1,6.081467,8.853849,...,11.229273,7.994739,8.891150,7.892396,7.583052,11.331930,7.948770,8.425824,6.491228,7.228966
1,NaN,102,62,46,51,31,23,NaN,16.610891,12.185616,...,21.496401,24.417400,24.012934,17.057951,21.242817,19.575087,24.481674,22.414888,23.080372,24.868599
2,NaN,50,12,62,25,6,31,NaN,3.952931,5.268596,...,5.830733,4.205112,6.116723,4.504898,5.164454,5.174181,3.034716,3.246057,3.203902,3.446852
3,NaN,40,56,46,20,28,23,NaN,14.523890,22.689468,...,20.756020,16.112068,25.341473,12.902251,26.214119,18.599001,18.485971,17.540710,19.565052,12.754345
4,NaN,60,20,50,30,10,25,NaN,5.321487,7.304843,...,6.473924,4.850379,7.060949,6.028605,5.067628,5.088174,4.733837,5.295754,2.696215,4.582192
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3604,NaN,46,16,66,23,8,33,NaN,6.257287,7.567688,...,2.262680,6.649792,8.483969,7.583700,5.432410,4.880533,8.306602,3.687881,5.573971,4.854362
3605,NaN,94,62,48,47,31,24,NaN,8.060211,10.215308,...,3.041367,5.804007,11.560439,10.979113,6.780633,7.086624,7.057034,1.510613,12.391757,7.078077
3606,NaN,84,26,40,42,13,20,NaN,10.409855,13.369532,...,3.079352,13.493482,8.450074,10.054090,3.681234,8.652498,9.823444,5.281919,8.985109,13.855386
3607,NaN,102,14,58,51,7,29,NaN,7.803307,15.727143,...,2.596920,14.724689,13.228936,13.131496,9.166053,10.984136,13.817241,4.601292,13.005678,6.713248
3608,NaN,92,42,104,46,21,52,NaN,5.338150,12.580564,...,3.624807,4.691604,10.906337,6.872295,7.680970,6.901748,2.516186,1.942287,10.220840,2.710359

In [6]:
lst1 = in_df['vx']
lst2 = in_df['vy']
lst3 = in_df['vz']
len(lst3)

3609

In [7]:
combined_lst = []
for i in range(len(lst1)):
    c = str(lst1[i]) + " " + str(lst2[i]) + " " + str(lst3[i])
    combined_lst.append(c)
    
length = len(combined_lst)
length

3609

In [8]:
# combined_lst = list(set(combined_lst))
# len(combined_lst)

In [9]:
cols = []
for i in range(0,37):
    col = 'img' + str(i+1)
    cols.append(col)

In [10]:
comp_df = pd.DataFrame(columns=cols)
comp_df

Empty DataFrame
Columns: [img1, img2, img3, img4, img5, img6, img7, img8, img9, img10, img11, img12, img13, img14, img15, img16, img17, img18, img19, img20, img21, img22, img23, img24, img25, img26, img27, img28, img29, img30, img31, img32, img33, img34, img35, img36, img37]
Index: []

[0 rows x 37 columns]

In [11]:
comp_df

Empty DataFrame
Columns: [img1, img2, img3, img4, img5, img6, img7, img8, img9, img10, img11, img12, img13, img14, img15, img16, img17, img18, img19, img20, img21, img22, img23, img24, img25, img26, img27, img28, img29, img30, img31, img32, img33, img34, img35, img36, img37]
Index: []

[0 rows x 37 columns]

In [12]:
in_df['C']

0       34.0
1        NaN
2        NaN
3        NaN
4        NaN
        ...
3604     NaN
3605     NaN
3606     NaN
3607     NaN
3608     NaN
Name: C, Length: 3609, dtype: float64

In [13]:
clust_lst = in_df['C']
clust_arr = np.array(clust_lst, dtype=np.float64)

In [14]:
np.isnan(clust_lst[2])

True

In [15]:
index_lst = []
for i in range(len(clust_lst)):
    if np.isnan(clust_lst[i]) == False:
        index_lst.append(i)

print(len(index_lst))
print(len(index_lst[1:]))
index_lst = index_lst[1:]
print(len(index_lst))

82
81
81

In [16]:
Final_outputs = []

In [17]:
out_num = out_df.to_numpy()

In [18]:
len(out_num)

3034

In [19]:
len(comp_df.columns)

37

In [20]:
Final_outputs = []
out_ind = 0
ind = 0
j = 0
lst_start = 0
while ind < length:
    if j < len(index_lst) and ind == index_lst[j]:
        lst_start += 37
        j += 1
    
    row = in_df.iloc[ind]
    
    imagenet = []
    coco = []
    sun = []
    
    detrend_in = []
    for pos in range(0,37):
        name = "img" + str(pos+1)
        detrend_in.append(float(row[name]))
        
    detrend_out = signal.detrend(np.array(detrend_in))
    
    coco_pres = False
    imagenet_pres = False
    sun_pres = False
    
    
    for pos in range(0,37):
        out_ind = lst_start + pos
        if out_num[out_ind] == 0:
            coco.append(detrend_out[pos])
            imagenet.append(0)
            sun.append(0)
        
        elif out_num[out_ind] == 1:
            imagenet.append(detrend_out[pos])
            sun.append(0)
            coco.append(0)
            
        elif out_num[out_ind] == 2:
            sun.append(detrend_out[pos])
            imagenet.append(0)
            coco.append(0)
        
    Final_outputs.append(0)
    data_to_append = {}
    for i in range(len(comp_df.columns)):
        data_to_append[comp_df.columns[i]] = coco[i]

    comp_df = comp_df.append(data_to_append, ignore_index = True)

    Final_outputs.append(1)
    data_to_append = {}
    for i in range(len(comp_df.columns)):
        data_to_append[comp_df.columns[i]] = imagenet[i]

    comp_df = comp_df.append(data_to_append, ignore_index = True)

    Final_outputs.append(2)
    data_to_append = {}
    for i in range(len(comp_df.columns)):
        data_to_append[comp_df.columns[i]] = sun[i]

    comp_df = comp_df.append(data_to_append, ignore_index = True)
            
    
    ind += 1
    
comp_df

,img1,img2,img3,img4,img5,img6,img7,img8,img9,img10,...,img28,img29,img30,img31,img32,img33,img34,img35,img36,img37
0,-1.239142,1.498891,0.000000,0.000000,0.000000,0.000000,0.000000,0.189638,0.000000,0.000000,...,0.000000,0.000000,0.574405,-0.458697,0.000000,0.000000,0.000000,0.000000,-2.031613,-1.328224
1,0.000000,0.000000,-0.473891,0.000000,-1.775369,2.018271,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,2.912138,-0.505372,-0.062667,0.000000,0.000000
2,0.000000,0.000000,0.000000,2.732457,0.000000,0.000000,0.878624,0.000000,-3.116104,0.704959,...,2.981228,-0.287656,0.000000,0.000000,-0.802391,0.000000,0.000000,0.000000,0.000000,0.000000
3,2.574738,-2.062863,0.000000,0.000000,0.000000,0.000000,0.000000,3.955059,0.000000,0.000000,...,0.000000,0.000000,3.819314,-3.347995,0.000000,0.000000,0.000000,0.000000,1.612793,3.188694
4,0.000000,0.000000,5.398529,0.000000,-6.506147,-0.266727,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,-1.255513,3.438749,1.159636,0.000000,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10822,-1.856298,0.000000,3.044136,0.000000,0.000000,-1.374764,0.000000,0.523651,0.000000,1.256430,...,-7.805001,4.295275,2.772028,2.647095,-1.345841,0.000000,3.250360,0.000000,0.000000,0.000000
10823,0.000000,6.040045,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,2.383811,0.000000
10824,0.000000,0.000000,0.000000,-4.434929,-1.159476,0.000000,-3.856269,0.000000,-0.269374,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.748480,0.000000,-4.202143,0.000000,-3.425234
10825,-0.956519,0.000000,1.020237,0.000000,0.000000,-2.005922,0.000000,-2.228816,0.000000,2.067930,...,-2.550555,-1.479339,4.739812,0.710189,1.523283,0.000000,-3.632663,0.000000,0.000000,0.000000
10826,0.000000,6.290313,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,4.080828,0.000000

In [21]:
comp_df

,img1,img2,img3,img4,img5,img6,img7,img8,img9,img10,...,img28,img29,img30,img31,img32,img33,img34,img35,img36,img37
0,-1.239142,1.498891,0.000000,0.000000,0.000000,0.000000,0.000000,0.189638,0.000000,0.000000,...,0.000000,0.000000,0.574405,-0.458697,0.000000,0.000000,0.000000,0.000000,-2.031613,-1.328224
1,0.000000,0.000000,-0.473891,0.000000,-1.775369,2.018271,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,2.912138,-0.505372,-0.062667,0.000000,0.000000
2,0.000000,0.000000,0.000000,2.732457,0.000000,0.000000,0.878624,0.000000,-3.116104,0.704959,...,2.981228,-0.287656,0.000000,0.000000,-0.802391,0.000000,0.000000,0.000000,0.000000,0.000000
3,2.574738,-2.062863,0.000000,0.000000,0.000000,0.000000,0.000000,3.955059,0.000000,0.000000,...,0.000000,0.000000,3.819314,-3.347995,0.000000,0.000000,0.000000,0.000000,1.612793,3.188694
4,0.000000,0.000000,5.398529,0.000000,-6.506147,-0.266727,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,-1.255513,3.438749,1.159636,0.000000,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10822,-1.856298,0.000000,3.044136,0.000000,0.000000,-1.374764,0.000000,0.523651,0.000000,1.256430,...,-7.805001,4.295275,2.772028,2.647095,-1.345841,0.000000,3.250360,0.000000,0.000000,0.000000
10823,0.000000,6.040045,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,2.383811,0.000000
10824,0.000000,0.000000,0.000000,-4.434929,-1.159476,0.000000,-3.856269,0.000000,-0.269374,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.748480,0.000000,-4.202143,0.000000,-3.425234
10825,-0.956519,0.000000,1.020237,0.000000,0.000000,-2.005922,0.000000,-2.228816,0.000000,2.067930,...,-2.550555,-1.479339,4.739812,0.710189,1.523283,0.000000,-3.632663,0.000000,0.000000,0.000000
10826,0.000000,6.290313,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,4.080828,0.000000

In [22]:
len(Final_outputs)

10827

In [23]:
output_numpy = np.array(Final_outputs)
output_numpy

array([0, 1, 2, ..., 0, 1, 2])

In [24]:
output_df = pd.DataFrame(output_numpy,columns = ['label'])
output_df

       label
0          0
1          1
2          2
3          0
4          1
...      ...
10822      1
10823      2
10824      0
10825      1
10826      2

[10827 rows x 1 columns]

In [25]:
comp_df.to_csv("../Data/Final_data_Middle/Final_inputs_4.csv", index = False)
output_df.to_csv("../Data/Final_data_Middle/Final_outputs_4.csv", index = False)